@import "/src/scss/variables";

.tabs{
  width: 100%;
  text-align: center;
  .tabs-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .tab{
      border: none;
      width: 150px;
      padding: 10px 0;
      background-color: transparent;
      color: $color-gray2;
      font-weight: $font-weight-medium;
      font-size: $font-size-userTitle;
      text-transform: capitalize;
      border-bottom: 4px solid transparent;
      cursor: pointer;
      &:hover{
        border-color: $color-gray0;
      }
      &.active{
        border-color: $color-primary;
      }
    }
    
  }
}
@media (max-width: 550px) {
  .tabs{
    .tabs-selector{
      .tab{
        width: 70px;
        font-size: $font-size-text;
      }
    }
  }
}