@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: $color-black1;
  color: $color-white1;
  main{
    margin: 80px 0 80px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}